<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>move-items</title>
</head>
<body id='move-body'>
  <span id='move-span'>
    <div>
      <h4 id='move-h4'>Move Item</h4>
    </div>
    <div class='options'>
      <h5 class='move-h mo-1'>watch</h5>
      <h5 class='move-h mo-2'>eat</h5>
      <h5 class='move-h mo-3'>read</h5>
      <h5 class='move-h mo-4'>buy</h5>
    </div>
  </span>
</body>
</html>
