<nav class='nav-bar'>
  <a href='/'>
  <span class='logo'>Smart List</span>
  </a>
  <span class='nav-text' type='button'>
    <a href='/login'>login</a>
    <br>
    <a href='/signup' id='signup'>sign up</a>
  </span>
</nav>
