<nav class='nav-bar'>
  <a href='/'>
  <span class='logo'>Smart List</span>
  </a>
  <% if (user_id) { %>

    <span class='nav-text' type='button'>
      <form action='/logout' method='POST'>
        <button type='submit'>log out</button>
      </form>
      <br>
      <a href='/profile' id='profile'>
        <%= email %>
      </a>
    </span>
    <a href='/profile'><img id='profile-pic' src="<%= profile_pic %>"></a>

  <% } else { %>

  <span class='nav-text' type='button'>
    <a href='/login'>login</a>
    <br>
    <a href='/signup' id='signup'>sign up</a>
  </span>

  <% } %>
</nav>
