<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/landing.css">
  <link rel="stylesheet" href="/styles/navbar.css">

  <!-- Import google fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
  <title>Smart List!</title>
</head>
<!-- NAV BAR  -->
<%- include('partials/_navbar') %>
<body>
  <main>
    <h1>Smart List!</h1>
    <p>Auto categorize any item into it's<br>
      appropriate to-do list!</p>
    <div class="buttons">
        <button class="btnleft">Login</button>
        <button class="btnright">Sign up</button>
    </div>
  </main>
</body>
</html>
