<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/main_lists.css">

  <!-- Import google fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">

  <!-- javascript files -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <title>Smart To-Do Lists</title>
</head>
<!-- NAV BAR  -->
<%- include('partials/_navbar') %>
<body>

  <main>
    <p>What do you want to do?</p>
    <form method="POST" action="/items">
      <textarea name="item" id="text" cols="30" rows="1" placeholder="Things to do..."></textarea>
      <button type="submit" id="add">Add</button>
    </form>
    <!-- <div class="container"> -->
      <div class="eat">Places to eat</div>
      <div class="read">Things to Read</div>
      <div class="watch">Stuff to watch</div>
      <div class="buy">Junk to buy</div>
    <!-- </div> -->
  </main>
</body>
</html>
