<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- CSS STYLE SHEETS  -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/profile.css" type="text/css" />

    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Pacifico&family=Roboto&family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/edit-profile.js"></script>

    <!-- NAV BAR  -->
    <%- include('partials/_navbar') %>
  </head>
<body>
  <div class='profile'>
    <span class='picture'>
      <img src='<%= profile_pic %>' alt='profile picture'>
    </span>
    <span class='name'>
      <h1><%= username.toUpperCase(); %></h1>
    </span>
    <form id='username' action="/profile" method="POST">
      <textarea name="text" id="edit-username" placeholder="new username..."></textarea>
    </form>
    <span class='email'>
      <h1><%= email.toUpperCase(); %></h1>
    </span>
    <form id='email' action="/profile" method="POST">
      <textarea name="text" id="edit-email" placeholder="new email..."></textarea>
    </form>
    <form id='password' action="/profile" method="POST">
      <textarea name="text" id="edit-password" placeholder="new password..."></textarea>
    </form>
    <button id='edit-profile'>EDIT PROFILE</button>
    <!-- <div id='error-alert' class='error-alert1'>
      <p class='error'>Tweet can't be blank!</p>
    </div>
    <div id='error-alert' class='error-alert2'>
      <p class='error'>Tweet too long!</p>
    </div> -->
    <button id='update-profile'>UPDATE PROFILE</button>
  </div>


</body>
</html>
