// fonts:
$button-font: Bebas Neue, cursive;
$main-text: Roboto, sans-serif;

// colors
$black: #1B1B1B;
$background: #E58080;
$button-color: #6DD3C1;
$white: #FFFFFF;

// align items
@mixin vert-align {

  display: flex;
  align-items: center;
  justify-content: center;

}

@mixin hori-align {

  display: flex;
  justify-content: space-around;
  align-self: center;

}

@mixin button {
  @include vert-align;
  color: $white;
  background-color: $button-color;
  padding: 0.6rem 2rem;
  border-radius: 0.8em;
  font-family: $button-font;
  font-size: 2rem;
  border: 0;
  cursor: pointer;
  max-width: auto;
  max-height: 3rem;
}

@mixin textbox {
  border: none;
  border-radius: 0.8em;
  width: 80%;
  resize: none;
  outline: none;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 0.5em 0.5em;
  padding-left: 0.75em;
  font-size: large;
  font-family: $main-text;
  max-height: 2.5rem;
  width: 100%;
}
