// fonts:
$button-font: Bebas Neue, cursive;
$main-text: Roboto, sans-serif;

// colors
$black: #1B1B1B;
$background: #E58080;
$button-color: #6DD3C1;
$white: #FFFFFF;

// align items
@mixin vert-align {

  display: flex;
  align-items: center;
  justify-content: center;

}

@mixin hori-align {

  display: flex;
  justify-content: space-around;
  align-self: center;

}

@mixin button {
  @include vert-align;
  color: $white;
  background-color: $button-color;
  padding: 0.6rem 2rem;
  border-radius: 3rem;
  font-family: $button-font;
  font-size: 2rem;
  border: 0;
  cursor: pointer;
  max-width: auto;
  max-height: 3rem;
}
