@import 'base';

button {
  @include hori-align;
  @include button;
  margin-top: 2rem;
  margin-left: 1.5rem;
}

td {
  @include vert-align;
  display: flex;
  justify-content: space-between;
  padding: .5rem 0 .5rem 0;
}

#table {
  padding: 1em 1em;
  font-size: 1.5em;
  margin: auto;
  width: 100%;
}

.table-title {
  @include vert-align;
  background-color: $black;
  color: $white;
  font-family: $button-font;
  font-size: 2rem;
}

.rows {
  background-color: $white;
  color: $black;
  font-size: 1.5rem;
  font-family: $main-text;
}

.far {
  margin: 0 1rem 0 .5rem;
}

.item-text {
  align-self: flex-start;
}
