@import 'base';

.content {
  @include hori-align;
}

section {
  display: flex;
  flex-direction: column;
  width: 90%
}

#back {
  @include hori-align;
  @include button;
  align-self: flex-start;
  margin-top: 0;
}


.list-title {
  @include vert-align;
  background-color:$black;
  margin-top: 1rem;
  height: 4rem;
  width: 100%;

  h1 {
    margin: 0 0 0 0;
  }

}

.item-list {
  display: flex;
  flex-direction: column;
  color: $black;
  background-color: $white;
  font-family: $main-text;
  font-size: x-large;
  width: 100%;

  .item-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0 1rem 0;

    h3 {
      flex-grow: 3;
      margin: 0 0 0 1rem;
    }
  }

  .far {
    color: $black;
    cursor: pointer;
  }

  .fa-square {
    margin-left: 1rem;
  }

  .fa-check-square {
    margin-left: 1rem;
  }

  .fa-minus-square {
    justify-self: flex-end;
    color: red;
    margin: 0 1rem 0 1rem;
  }

}


