@import 'base';

h1 {
  font-size: xx-large;
  margin-bottom: 2em;
}

body {
  background-color: $background;
  margin-top: 8em;
  color: $white;
  font-family: $button-font;
}
main {
  margin-left: 1.5em;
}
p {
  font-size: x-large;
  font-family: $main-text;
  margin-bottom: 1.5em;
}
button {
  border-radius: 0.8em;
  background-color: $button-color;
  font-family: $button-font;
  border: none;
  color: $white;
  font-size: 1.5rem;
  padding: 0.6rem 2rem;
  cursor: pointer;
}

.btnright {
  margin-left: 1em;
}

form {
  display: inline;
}
