@import 'base';

body {
  background-color: $background;
}

main {
  margin-top: 8em;
  color: $white;
  font-family: $button-font;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

p {
  font-size: x-large;
  font-family: $main-text;
}

button {
  @include button;
}

textarea {
  @include textbox;
}

.list-title {
  background-color: $black;
  margin-top: 2em;
  padding: 1em 1em;
  @include vert-align;
  font-size: 1.5em;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-list {
  display: flex;
  flex-direction: column;
  color: $black;
  background-color: $white;
  font-family: $main-text;
  font-size: x-large;
  width: 100%;
  border: .25rem solid $button-color;

  .item-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0 1rem 0;

    h3 {
      flex-grow: 3;
      margin: 0 0 0 1rem;
    }
  }

  .far {
    color: $black;
    cursor: pointer;
  }

  .fas {
    color: $button-color;
    margin-left: 1rem;
  }

  .fa-square {
    margin-left: 1rem;
  }

  .fa-check-square {
    margin-left: 1rem;
  }

  .fa-minus-square {
    justify-self: flex-end;
    color: red;
    margin: 0 1rem 0 1rem;
  }

}
