@import 'base';

body {
  background-color: $background;
}

main {
  margin-top: 8em;
  color: $white;
  font-family: $button-font;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

p {
  font-size: x-large;
  font-family: $main-text;
  margin-bottom: 1em;
}

button {
  margin-bottom: 1em;
  @include button;
}

textarea {
  @include textbox;
}

div {
  background-color: $black;
  margin-bottom: 2em;
  padding: 1em 1em;
  @include vert-align;
  font-size: 1.5em;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
