@import "base";

body {
  background-color: $background;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8em;
  color: $white;
  font-family: $button-font;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 2rem;
}

p {
  font-size: x-large;
  font-family: $main-text;
}

button {
  @include button;
}

input {
  @include textbox;
}

.list-title {
  background-color: $black;
  margin-top: 2em;
  padding: 1em 1em;
  @include vert-align;
  font-size: 1.5em;
  cursor: pointer;
  width: 50%;
}

form {
  max-width: 50vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: $black;
  background-color: $white;
  font-family: $main-text;
  font-size: x-large;
  border: 0.25rem solid $button-color;

  .item-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0 1rem 0;
    cursor: pointer;

    h3 {
      flex-grow: 3;
      margin: 0 0 0 1rem;
    }
  }

  .far {
    color: $black;
    cursor: pointer;
  }

  .fas {
    color: $button-color;
    margin-left: 1rem;
  }

  .fa-square {
    margin-left: 1rem;
  }

  .fa-check-square {
    margin-left: 1rem;
  }

  .fa-minus-square {
    justify-self: flex-end;
    color: red;
    margin: 0 1rem 0 1rem;
  }
}

#move-span {
  @include vert-align;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: row;
}

.move-item {
  @include hori-align;
  color: $white;
  background-color: $black;
  border: 0.25rem solid $button-color;
  margin: 0;
  padding: 0 1rem 0 1rem;
}

#move-h4 {
  font-family: $button-font;
  margin-top: 1rem;
  margin-bottom: 0;
}

.move-h {
  color: $button-color;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0.5rem;
  cursor: pointer;
}
