@import 'base';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  color: $white;
  height: 5rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .logo {
    font-size: x-large;
    font-family: $button-font;
    height: 3rem;
    width: auto;
  }

  .logged-in-text {
    margin: 0;
    padding: 0;
  }

  .nav-text {
    @include vert-align;
    font-size: x-large;
    font-family: $button-font;
  }

  #signup {
    margin-left: 1rem;
  }

  img {
    width: auto;
    height: 100%;
    margin-left: 0rem;
  }

  #profile-pic {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-bottom: 0;
  }

  #profile {
    margin-left: 1rem;
  }

  #logout-button {
    color: red;
  }
}




