@import 'base';

.profile {
  @include hori-align;
  flex-direction: column;
  position: absolute;
  top: 8rem;
  max-width: 30rem;
  // max-height: 30rem;
  color: $white;
  padding-bottom: 2rem;


  .picture {
    @include hori-align;
    display: inline-block;
    position: relative;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  img {
    width: auto;
    height: 100%;
    margin-left: -5rem;
  }

  .name {
    @include hori-align;
    text-align: center;
    overflow-wrap: anywhere;
    max-width: 100%;
    font-size: 2rem;
    margin: -3rem;
  }

  .email {
    @include hori-align;
    font-size: 1.5rem;
  }

  button {
    @include hori-align;
    @include button;
    margin-top: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-top: 1rem;
    }

    #edit-password {
      margin-top: 1rem;
    }

    input {
      @include textbox;
    }
  }
}


