@import 'base';

button {
  @include button;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  padding: 0.5em 0.8em 0.5em 0.8em;
}

#login-form {
  @include vert-align;
}

.form-control {
  @include textbox;
}
